@model FlagIndexViewModel

@{
    ViewData["Title"] = "Flags Page";
}

<a asp-action="Create" asp-controller="Flags" class="btn btn-primary">
    Create Flag
</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Flag Name</th>
        <th scope="col">Active</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Error != null)
    {
        <tr>
            <td colspan="3" class="text-center text-danger">
                @Model.Error
            </td>
        </tr>
    }
    else
    {
        @foreach (var flag in Model.Flags)
        {
            <tr>
                <th scope="row">@flag.Name</th>
                <td>
                    <div class="form-check form-switch">
                        <input checked="@flag.IsEnabled" class="form-check-input" readonly role="switch"
                               type="checkbox"/>
                    </div>
                </td>
                <td>
                    <a asp-action="DeleteFlag" asp-controller="Flags" asp-route-flagName="@flag.Name" type="button"
                       class="btn btn-outline-danger">
                        <i class="bi bi-archive"></i>
                    </a>
                    <a asp-action="@flag.Name" asp-controller="Flags" class="btn btn-outline-primary" type="button">
                        <i class="bi bi-pencil"></i>
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
